  <div class="menu">
    <div class="menu-entry">
      <a href="#submit">Submit</a>
    </div>
  </div>

  <div class="content">
    <div class="taglist" ng-show="{{taglist}}">
      <div ng-repeat="tag in tags | orderBy:'tag'">
        <div class="tag-wrapper">
          <div ng-click="toggleTag(tag)" ng-class="{'activated-tag': tag.clicked}" class="tag">
            {{tag.tag}}
          </div>
        </div>
      </div>
    </div>
    <div class="taglist">
      <div class="tag-wrapper">
        <a ng-click="turnAllTagsOff()">Deselect All</a>
      </div>
      <div class="tag-wrapper">
        <a ng-click="turnAllTagsOn()">Select All</a>
      </div>
    </div>
    <div class="search">
      Search: <input type="text" ng-model="searchKeyword">
    </div>

    <div class="card-container">
      <div ng-repeat="tool in tools | filter:searchKeyword | orderBy:'name'">
        <div ng-show="tagActivated(tool)" class="card">
          <div class="card-wrapper">
            <div class="tool"><a ng-href="{{tool.url}}">{{tool.name}}</a></div>
            <div class="description">{{tool.description}}</div>
            <div class="resources"><b>Resources:</b></div>
            <div class="resources" style="padding-bottom: 1em;"><div ng-bind-html="tool.resources | linky"></div></div>
            <div class="card-tag" style="padding-left:0;"><b>Tags:</b></div>
              <div ng-repeat="tag in tool.tags | orderBy: tag" class="card-tag">
                <a ng-href="#tag/{{tag}}">{{tag}}</a>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
